[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RSquaredMI"]
	path = RSquaredMI
	url = https://github.com/karchjd/rsquaredmi
[submodule "TauStar"]
	path = TauStar
	url = https://github.com/karchjd/taustar
[submodule "altR2"]
	path = altR2
	url = https://github.com/karchjd/altr2
[submodule "lavaangui"]
	path = lavaangui
	url = https://github.com/karchjd/lavaangui
